body {
  padding: 10vw;
}

img {
  max-width: 100%;
}

.albums-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  .card {
    max-width: 10em;
  }
}

p {
  font-size: 1.6em;
}

.options button {
  font-size: 1.5em;
  margin: 1em;
}
