/* Fonts: Merriweather and Poppins */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;0,900;1,400&family=Poppins:wght@600&display=swap");
/* Colors from Chakra UI */
:root {
  --purple-50: #faf5ff;
  --purple-100: #e9d8fd;
  --purple-200: #d6bcfa;
  --purple-300: #b794f4;
  --purple-400: #9f7aea;
  --purple-500: #805ad5;
  --purple-600: #6b46c1;
  --purple-700: #553c9a;
  --purple-800: #44337a;
  --purple-900: #322659;
  --green: #2c7a7b;
  --green-shadow: #b2f5ea;
  --red: #c53030;
  --red-shadow: #fed7d7;
}

body {
  background-color: var(--purple-50);
  font-family: "Poppins", sans-serif;
}

/* Headings */
h1,
h2 {
  font-family: "Merriweather", serif;
}

h1 {
  font-size: 2em;
  color: var(--purple-700);
}

h2 {
  font-size: 1.4em;
  color: var(--purple-500);
}

h3 {
  font-size: 1em;
  font-weight: 600;
  color: var(--purple-800);
}

button {
  cursor: pointer;
}

.main-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 3em 2.5em;
}

/* Home */
img {
  max-width: 100%;
}

.home {
  padding-top: 5em;
}

.home header mark {
  background-color: transparent;
  font-weight: 900;
  color: var(--purple-500);
}

.home main {
  margin-top: 5em;
}

.home main h3 {
  margin-bottom: 1.5em;
}

.albums-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(8em, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
  -webkit-column-gap: 1.3em;
          column-gap: 1.3em;
  row-gap: 1.5em;
}

.albums-list .album-card {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  -webkit-animation: 0.3s ease-in-out both fade-in;
          animation: 0.3s ease-in-out both fade-in;
}

.albums-list .album-card:hover .image-container, .albums-list .album-card:focus .image-container {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.albums-list .album-card:hover .album-cover-shadow, .albums-list .album-card:focus .album-cover-shadow {
  -webkit-filter: blur(25px);
          filter: blur(25px);
}

.albums-list .album-card .image-container {
  position: relative;
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.25, 1, 0.3, 1);
  transition: -webkit-transform 0.2s cubic-bezier(0.25, 1, 0.3, 1);
  transition: transform 0.2s cubic-bezier(0.25, 1, 0.3, 1);
  transition: transform 0.2s cubic-bezier(0.25, 1, 0.3, 1), -webkit-transform 0.2s cubic-bezier(0.25, 1, 0.3, 1);
}

.albums-list .album-card .image-container .album-cover-shadow {
  position: absolute;
  top: 7px;
  left: 0;
  -webkit-filter: blur(15px);
          filter: blur(15px);
  -webkit-transition: -webkit-filter 0.2s cubic-bezier(0.25, 1, 0.3, 1);
  transition: -webkit-filter 0.2s cubic-bezier(0.25, 1, 0.3, 1);
  transition: filter 0.2s cubic-bezier(0.25, 1, 0.3, 1);
  transition: filter 0.2s cubic-bezier(0.25, 1, 0.3, 1), -webkit-filter 0.2s cubic-bezier(0.25, 1, 0.3, 1);
  opacity: 0.7;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: -1;
}

.albums-list .album-card h3 {
  font-size: 0.8em;
  margin: 0.4em 0 0;
}

.album-card:nth-child(1),
.option:nth-child(1) {
  -webkit-animation-delay: 0.03s;
          animation-delay: 0.03s;
}

.album-card:nth-child(2),
.option:nth-child(2) {
  -webkit-animation-delay: 0.06s;
          animation-delay: 0.06s;
}

.album-card:nth-child(3),
.option:nth-child(3) {
  -webkit-animation-delay: 0.09s;
          animation-delay: 0.09s;
}

.album-card:nth-child(4),
.option:nth-child(4) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}

.album-card:nth-child(5),
.option:nth-child(5) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.album-card:nth-child(6),
.option:nth-child(6) {
  -webkit-animation-delay: 0.18s;
          animation-delay: 0.18s;
}

.album-card:nth-child(7),
.option:nth-child(7) {
  -webkit-animation-delay: 0.21s;
          animation-delay: 0.21s;
}

.album-card:nth-child(8),
.option:nth-child(8) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}

.album-card:nth-child(9),
.option:nth-child(9) {
  -webkit-animation-delay: 0.27s;
          animation-delay: 0.27s;
}

.album-card:nth-child(10),
.option:nth-child(10) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.album-card:nth-child(11),
.option:nth-child(11) {
  -webkit-animation-delay: 0.33s;
          animation-delay: 0.33s;
}

.album-card:nth-child(12),
.option:nth-child(12) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* Quizz */
.exit-button {
  background: transparent;
  border: 0;
  padding: 0;
  width: 2.7em;
  height: 2.7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -1.3em;
}

.exit-button svg {
  width: 1.3em;
  height: 1.3em;
  fill: var(--purple-600);
}

.quizz.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.quizz header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.6em 0;
}

.album-chip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.album-chip img {
  width: 2.1em;
  height: 2.1em;
}

.album-chip h3 {
  padding-left: 0.8em;
}

.round-counter {
  background: linear-gradient(-75deg, var(--purple-100) 50%, #ffffff 50%);
  background: linear-gradient(-75deg, var(--purple-100) 50%, #ffffff 50%);
  border-radius: 10px;
}

.round-counter span {
  padding: 0 0.6em;
  color: var(--purple-600);
}

.lyrics-loader .line {
  margin-bottom: 0.5em;
  height: 0.7em;
  background-color: var(--purple-50);
  background: -webkit-gradient(linear, left top, right top, from(var(--purple-100)), color-stop(20%, var(--purple-50)), color-stop(40%, var(--purple-100)));
  background: linear-gradient(90deg, var(--purple-100) 0%, var(--purple-50) 20%, var(--purple-100) 40%);
  background-size: 200% 200%;
  -webkit-animation: 1s loading ease-out infinite;
          animation: 1s loading ease-out infinite;
}

.lyrics-loader .line.long {
  width: 100%;
}

.lyrics-loader .line.short {
  width: 30%;
}

@-webkit-keyframes loading {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes loading {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.quizz .lyrics {
  background: var(--purple-100);
  border-radius: 15px;
  font-family: Merriweather;
  font-style: italic;
  font-size: 1.3em;
  color: var(--purple-700);
  margin: 0 -1.3rem;
  padding: 1.5rem 1.3rem;
  line-height: 150%;
}

.options-container h3 {
  margin-bottom: 1.3em;
}

.options button {
  -webkit-animation: 0.3s ease-in-out both fade-in;
          animation: 0.3s ease-in-out both fade-in;
}

.options button.option {
  border: 0;
  font: inherit;
  display: block;
  width: 100%;
  text-align: left;
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 16px var(--purple-100);
          box-shadow: 0px 5px 16px var(--purple-100);
  border-radius: 15px;
  font-size: 1.3em;
  color: var(--purple-700);
  padding: 0.6rem 1rem;
  margin-bottom: 0.9em;
  -webkit-transition: -webkit-box-shadow 0.2s cubic-bezier(0.25, 1, 0.3, 1);
  transition: -webkit-box-shadow 0.2s cubic-bezier(0.25, 1, 0.3, 1);
  transition: box-shadow 0.2s cubic-bezier(0.25, 1, 0.3, 1);
  transition: box-shadow 0.2s cubic-bezier(0.25, 1, 0.3, 1), -webkit-box-shadow 0.2s cubic-bezier(0.25, 1, 0.3, 1);
}

.options button.option:hover {
  -webkit-box-shadow: 0px 5px 10px var(--purple-200);
          box-shadow: 0px 5px 10px var(--purple-200);
}

.options button.option.correct {
  color: var(--green);
  -webkit-box-shadow: 0px 5px 16px var(--green-shadow);
          box-shadow: 0px 5px 16px var(--green-shadow);
}

.options button.option.incorrect {
  color: var(--red);
  -webkit-box-shadow: 0px 5px 16px var(--red-shadow);
          box-shadow: 0px 5px 16px var(--red-shadow);
}

/* Over */
.over {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.over header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.6em 0;
}

.over h2 mark {
  background-color: transparent;
  font-weight: 900;
  color: var(--purple-700);
}

.button-primary {
  font: inherit;
  font-weight: 600;
  font-size: 1.3em;
  background-color: var(--purple-500);
  border-radius: 15px;
  color: white;
  border: 0;
  padding: 0.7rem 3rem;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2em auto 1em;
  -webkit-box-shadow: 0px 5px 16px var(--purple-200);
          box-shadow: 0px 5px 16px var(--purple-200);
  -webkit-transition: background-color 0.2s cubic-bezier(0.25, 1, 0.3, 1), -webkit-box-shadow 0.2s cubic-bezier(0.25, 1, 0.3, 1);
  transition: background-color 0.2s cubic-bezier(0.25, 1, 0.3, 1), -webkit-box-shadow 0.2s cubic-bezier(0.25, 1, 0.3, 1);
  transition: box-shadow 0.2s cubic-bezier(0.25, 1, 0.3, 1), background-color 0.2s cubic-bezier(0.25, 1, 0.3, 1);
  transition: box-shadow 0.2s cubic-bezier(0.25, 1, 0.3, 1), background-color 0.2s cubic-bezier(0.25, 1, 0.3, 1), -webkit-box-shadow 0.2s cubic-bezier(0.25, 1, 0.3, 1);
}

.button-primary:hover, .button-primary:focus {
  background-color: var(--purple-400);
  -webkit-box-shadow: 0px 5px 16px var(--purple-400);
          box-shadow: 0px 5px 16px var(--purple-400);
}

.button-primary:active {
  background-color: var(--purple-700);
  -webkit-box-shadow: 0px 5px 16px var(--purple-200);
          box-shadow: 0px 5px 16px var(--purple-200);
}
/*# sourceMappingURL=App.css.map */